/* Main components */
.container {
  background-color: #fafafa;
}

/* The todo search box */
.container-header {
  border-bottom: 1px solid #e4e4e4;
  padding: 1mm;
}

.container label {
  cursor: pointer;
}

/* The Nothing to do message */
.container-message {
  margin-top: 1rem;
  text-align: center;
  color: #999999;
}

/* The Todo list */
.container-body {
  padding: 1mm;
}

/* The AddTodo form */
.container-footer {
  border-top: 1px solid #e4e4e4;
  padding: 3mm 1mm 1mm 1mm;
}