.todo-container {
  display: flex;
}

p.for-icon {
  margin-bottom: 0px;
  font-size: 13px;
}

.todo-text-container {
  width: 40rem;
}

.todo-detail-arrow-container {
  cursor: pointer;
  transition: background .15s ease;
}

.todo-detail-arrow-container:hover {
  background: #f0f0f0;  
}

.todo-detail-arrow {
  color: #007bff;
  padding: 19px .5rem 19px .5rem;
}

.todo-delete-container {
  cursor: pointer;
  transition: background .15s ease;
}

.todo-delete-container:hover {
  background: #f0f0f0;  
}

.todo-delete {
  color: #007bff;
  padding: 19px .5rem 19px .5rem;
}
